
.card{
   border: 2px solid green; 
   margin: 5px;
}
.parent-card{
    border: 2px solid red;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.first{
    color:blue;
     border: 2px solid green
}
.Second
{
    color:blue; border: 2px solid green; height: 600px; align-content: center;text-align: center;padding: 50px;
}