
.card{
   border: 2px solid green; 
   margin: 5px;
}
.parent-card{
    border: 2px solid red;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.first{
    color:blue;
     border: 2px solid green
}
.Second
{
    color:blue; border: 2px solid green; height: 600px; align-content: center;text-align: center;padding: 50px;
}
/*it is for mobile screens */
@media screen and (max-width: 425px){
	.card{
		background-color: orange;
	}
	.parent-card{
		flex-direction: column-reverse;
	}
}
/*tablets*/
@media screen and (min-width: 426px) and (max-width: 768px){
	.card{
		background-color: yellow;
	}
	.parent-card{
		flex-direction: row-reverse;
	}
}
@media screen and (min-width: 769px) and (max-width: 1024px){
	.card{
		background-color: blue;
	}
}
